
/*Redimensionar imagen*/
#yo{
    width:50%;
}
#yo:hover{ /*Al pasar el cursor sobre la imagen, esta aumentara un 80% en tamaño.*/
    width: 100%;
}
/*Importar tipografia Minecraftia*/
@font-face {
    font-family: 'Minecraftia';
    src: url("Minecraftia-Regular.ttf");
}
@font-face {
    font-family: 'Orion';
    src: url('Orion.ttf');
}
@font-face{
    font-family:'Quicksand';
    src:url('Quicksand-SemiBold.tff');
}
/*Cambiar colores a etiquetas*/
h1{
    color: #372B1C;
    font-family: 'Minecraftia';
    font-size:150%;
}
h2{
    color:#EFF0F5;
    font-family: 'Minecraftia';
    font-size: 70px;
}
h3{
    color:#EFF0F5;
    font-family: 'Minecraftia';
    font-size: 90%;
}
header{
    background-color: #84D3F5;
        /*29/Feb/2024*/
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}
body{
    background-color: #7B6F61;
    margin:0;
    padding:0;
}

/*Esto se lee como lo siguiente: al aplicar la etiqueta 'ul' dentro de un 'nav'; los cambios
seran unicamente aplicados al 'ul'*/
nav{
    background-color: #273136;
    padding: 20px;
    padding-left: 25%;
    margin: 0px;
        /*Hacer que el elemento 'nav' este
         siempre visible mientras se escrolea. */
    position: sticky;
    top:0px;
}
nav ul{
    list-style:none;
    padding: 0;
    margin: 0;
    display:flex; /*Indicar que la etiqueta se movera de acuerdo a los elementos de la pantalla*/
}
nav li{
    margin-right: 20px;
        /*29/Feb/2024*/
    color:#DDE1FE;
    font-size:110%;
    font-family: 'Orion';
}
nav a{
    text-decoration: none; /*Elimina el subrayado del texto.*/
    color:#DFE5FC;
}
nav a:hover{ /*Cambia el elemento al pasar el cursor encima de el.*/
    background-color: #faa35c5c;
    color:#EFF0F5;
}
/*Aqui dejamos de modificar el NAV*/
section{
    background-color: #644e33;
    width: 70%;
    margin-left: 20px;
    /*padding-left: 20px;
    padding-bottom: 20px;
        Hacer que los section esten separados*/ 
    padding:30px;
}
/*Modificar propiedades del aside*/
aside{
    padding:20px;
    background-color:#232527;
    width: 25%;
    float: right; /*Convertir a un elemento flotante hacia la derecha*/
    /*29/Feb/2024*/
    margin:20px;
}
aside p{
    font-family:'Orion';
    font-size:15px;
}
    /* Cambiar texto del aside.*/
#p1:hover{
    font-size: 80%;
    font-family: 'Minecraftia';
    color:#FAA45C;
    width: 30%;
}
#p2{
    font-family:'Quicksand';
    color:#FAA45C;
}
/* Terminar cambios en texto del aside*/
a{
    color:#DFE5FC;
}
p{
    color:#DDE1FE;
    font-size:150%;
    font-family: 'Orion';
}
section li{
    color:#DDE1FE;
    font-size:150%;
    font-family: 'Orion';
}
br{
    background-color: #343252;
}
li{
    color:#E2EEFF;
}
footer{
    background-color: #84D3F5;
    color: #372B1C;
    font-family: 'Minecraftia';
    font-size:40px;
    text-align: center; /*Centrar el texto*/
    padding: 5px 0; /*Colocar 5px en el 'top' y 'botton'. No afecta 'left' y 'right'.
                    para hacerlo viceversa, colocar el 0 seguido de los 'px' (padding: 0 5px;)*/
    clear: both; /*Independizar la etiqueta "footer". Ningun cambio afectara a la etiqueta "footer".*/
}
footer p{
    color: #372B1C;
}
/*Clases, declarar con punto (.)*/
        /*Mi.28/FEB/2024 . Linea del tiempo*/
.contenedor{
    margin: 50px;
    width:80%;
}
/*Modificar propiedades 'div'*/
div h1{
    text-align: center;
}
div h2{
    margin-bottom: 5px;
    font-family:'Orion';                              
    font-size:40px;
}
div p{
    font-family:'Orion';
    font-size:20px;
    /*29/feb/2024*/
}
.c2{
    overflow:hidden;
}
#imgTiempo{
    width:150px;
    /*29/feb/2024*/
    display:inline;
    /*float:left;*/
}
/*A continuación se encuentra el codigo para agregar las
    barras de seguimiento para la linea del tiempo.*/
.caja{
    /*margin-bottom: 10px;*/
    margin:10px;
    padding:30px;
    padding-top:10px;
    position: relative; /*¿Que es esto?*/
    background-color: #494a58;
    width:100%;
}
.caja::before{
    content:''; /*Contenido vacio*/
    position: absolute; /*¿Que es esto?*/
    width:8px;
    height:120%;
    background: #84D3F5;
    left:-23px;
    top:10px;
}
.caja::after{
    content:'';
    position: absolute;
        /*Modificar tamaño del circulo*/
        width:30px;
        height:30px;
        border-radius: 80%;
    background: #494a58;
    left:-35px;
    top:5px;
}